<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css"> 
</head>

<body>
    <div class = "main-content">
        {{>header}}
        {{!-- <h1> {{title}} </h1> --}}
        <p> 
            {{name}}
            {{description}} 
        </p>

        <img class = "portrait" src = "/img/IMG_0718.jpg">

        <p> This site uses data from mapbox.com and weatherstack.com </p>
    </div>
    
    {{>footer}}
</body>

</html>